@import 'button-styles.scss';
@import 'header.scss';
@import 'front-page.scss';
@import 'wedding.scss';
@import 'contact-us.scss';
@import 'footer.scss';
@import 'cards.scss';

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;

    h1 {
        text-align: center;
    }
}
