@charset "UTF-8";
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font-family: "Roboto", sans-serif;
  /* put your font-family */
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

/* effect-1 styles */
.effect.effect-1 {
  transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
  content: "»";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}
.effect.effect-1:hover {
  text-indent: -20px;
}
.effect.effect-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}

/* effect-2 styles */
.effect.effect-2 {
  transition: all 0.2s linear 0s;
}
.effect.effect-2:before {
  content: "";
  font-family: FontAwesome;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 6px 6px 0px;
  transition: all 0.2s linear 0s;
  text-align: center;
}
.effect.effect-2:hover {
  text-indent: -30px;
}
.effect.effect-2:hover:before {
  right: 0;
  text-indent: 0px;
}

/* effect-3 styles */
.effect.effect-3 {
  transition: all 0.2s linear 0s;
}
.effect.effect-3:before {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s linear 0s;
}
.effect.effect-3:hover {
  text-indent: -9999px;
}
.effect.effect-3:hover:before {
  top: 0;
  text-indent: 0;
}

/* effect-4 styles */
.effect.effect-4 {
  transition: all 0.2s linear 0s;
}
.effect.effect-4:before {
  content: "";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transform: scale(0, 1);
  transition: all 0.2s linear 0s;
}
.effect.effect-4:hover {
  text-indent: -9999px;
}
.effect.effect-4:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

/* effect-5 styles */
.effect.effect-5 {
  transition: all 0.2s linear 0s;
}
.effect.effect-5:before {
  content: "";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover {
  text-indent: 30px;
}
.effect.effect-5:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

.main-font {
  font-family: "Commissioner", sans-serif;
}

.secondary-font {
  font-family: "Piazzolla", serif;
}

/** Utilidades **/
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.primary-color {
  color: #5391bb;
}

.secondary-color {
  color: #2d3d51;
}

body {
  background-color: #f2f3f5;
}

.center-container {
  display: flex;
  justify-content: center;
}

.site-logo {
  height: 200px;
  width: 350px;
  padding: 30px 0;
}

nav.menu-principal {
  display: inline-flex;
  width: 100%;
}

.menu-principal ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.menu-principal li {
  display: inline-flex;
  font-family: "Commissioner", sans-serif;
  padding: 0 10px;
}

.menu-principal li a {
  text-decoration: none;
  color: black;
}

.nav-menu {
  align-items: center;
}

@media (min-width: 786px) {
  .menu-principal ul {
    justify-content: center;
  }
}
li.current_page_item {
  border-bottom: 3px solid #5391bb;
  padding-bottom: 5px;
}

.main-font {
  font-family: "Commissioner", sans-serif;
}

.secondary-font {
  font-family: "Piazzolla", serif;
}

/** Utilidades **/
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.primary-color {
  color: #5391bb;
}

.secondary-color {
  color: #2d3d51;
}

.front-page {
  margin-bottom: 40px;
}
.front-page a {
  font-family: "Commissioner", sans-serif;
}
.front-page h1 {
  font-family: "Piazzolla", serif;
}
.front-page .parallax {
  height: 350px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/wp-content/themes/happinessbegins/assets/images/wedding-front-page.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px 0px;
}
.front-page .parallax h1 {
  width: 100%;
  text-align: center;
}
.front-page .parallax p {
  font-family: "Commissioner", sans-serif;
  text-align: center;
  color: #2d3d51;
  line-height: 30px;
}
.front-page .types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.front-page .types h1 {
  flex: 2;
  width: 100%;
}
.front-page .types .simple-card {
  flex: 0 0 calc(33% - 20px);
}
.front-page .types .simple-card:not(:first-child :last-child) {
  margin: 20px 0px;
}
.front-page .types .simple-card {
  flex: 0 0 calc(33% - 20px);
}
.front-page .types .simple-card img {
  position: relative;
  width: 25%;
  padding-bottom: 25%;
  object-fit: cover;
  margin: 0 auto;
}
.front-page .types .simple-card .image {
  background-position: center center;
  background-repeat: no-repeat;
  width: 90%;
  padding-bottom: 90%;
  object-fit: fill;
}
.front-page .types .simple-card button {
  font-family: "Commissioner", sans-serif;
  margin-top: 30px;
  background-color: #5391bb;
  font-size: 22px;
  padding: 12px;
  max-width: 120px;
  border-radius: 5px;
}

.wedding {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/wedding-background.jpeg");
  padding: 40px 0;
  margin-top: 40px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wedding .types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.wedding .types .simple-card {
  flex: 0 0 calc(33% - 20px);
  padding: 8px;
}

.main-font {
  font-family: "Commissioner", sans-serif;
}

.secondary-font {
  font-family: "Piazzolla", serif;
}

/** Utilidades **/
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.primary-color {
  color: #5391bb;
}

.secondary-color {
  color: #2d3d51;
}

.footer-container {
  background-color: #2d3e50;
  padding-top: 20px;
}
.footer-container .nav-menu nav ul li a {
  color: white;
}
.footer-container .white {
  color: white;
}
.footer-container .copyright {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  padding: 20px 0px;
}
.footer-container .social-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.page-content {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 90%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.wedding-card {
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(245, 246, 252, 0.2)), url("../images/wedding.jpg");
}

.social-event {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(117, 19, 93, 0.4)), url("../images/evento-social.jpeg");
}

.enterprise-event {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(204, 204, 153, 0.8)), url("../images/entrepreneur.png");
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.post-container h1 {
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
